footer {
    background-color: black;
    color: white;
    position: relative;
    bottom: -140px;
    z-index: 1;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer_top {
    font-family: Cookie, cursive;
    font-size: 40px;
    letter-spacing: 8px;
    text-align: center;
}
.footer_center {
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
}
.social a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    padding: 10px;
}
div.footer_center a {
    border-right: solid 2px white;
    padding-left: 40px;
    padding-right: 40px;
}
div.footer_center a:last-of-type {
    border: none;
}
.footer_down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 1%;
    letter-spacing: 1px;
    font-size: 12px;
}
div.footer_down div {
    padding: 0px;
    text-align: center;
}
.pay {
    padding: 3px;
    padding-bottom: 0px;
    filter: grayscale(100%)
}
@media all and (max-width:700px){
    div.footer_down, .pay, .social a {
        padding: 0px;
    }
    div.footer_center a {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}