header {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px;
    z-index: 1;
    right: 0px;
}
.header-top {
    background-color: white;
    width: 100%;
    height: 70px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
p.header-top-name {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 20px;
    letter-spacing: 5px;
    margin: 0px;
    text-align: end;
}
a.header-top-name {
    font-family: Cookie, cursive;
    font-size: 70px;
    letter-spacing: 10px;
    margin: 0px;
    width: 100%;
    text-decoration: none;
    color: black;
}
li {
    position: relative;
}
.header-mobil {
    display: none;
}
.menu {
    position: relative;
    margin: 0 auto;
    background-color: black;
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hov {
    padding: 0px;
    background-color: black;
    color: white;
    display: inline;
    margin: 0 auto;
    font-size: 20px;
    letter-spacing: 2px;
    border-bottom: solid 2px black;
}
.hovDown {
    width: 150px;
    display: none;
    background-color: black;
    position: absolute;
    left: -3px;
    top: 25px
}
div.hovDown div {    
    font-size: 15px;
    padding: 15px;
}    
.hov_a {
    color: white;
    text-decoration: none;
}
.hov:first-of-type:hover .hovDown {
    display: block;    
}
.hov:hover {
    border-bottom: solid 2px white;
    animation: animation1 3s infinite;
    transition: all .1s ease-in-out;
}
@media all and (max-width:800px){
    .menu, p.header-top-name {
        display: none;
     } 
     p.header-top-name {
        right: 0px;
        left: 0px;
        font-size: 10px;
        top: 60px;
    }
    p.header-top-name-mobil {
        right: 0px;
        font-size: 18px;
        letter-spacing: 5px;
        margin-top: 20px;
        text-align: end;
        color: white;
        position: absolute;
        margin-right: 20px;
    }
    ul {
        display: block;
    }
    .hov {
        padding: 0px;
        background-color: black;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
        display: block;
        padding: 10px;
    }
    .hov_a {
        width: 100%;
    }
    .header-mobil {
        display: block;
        position: relative;
        margin: 0px;
        background-color: black;
        width: 100%;
        height: 60px;
        padding-left: 20px;
    }
    .header-mobil img {
        height: 100%;
     }
    .header-mobil-menu {
        width: 60%;
        display: none;
        background-color: black;
        position: absolute;
        left: 0px;
        top: 60px;
        padding: 20px;
    }
    .header-mobil:hover .header-mobil-menu{
        display: block;
    }
    .hov:hover {
        border: solid 1px white;
    }
 }