.content {
    max-width: 1200px;
    margin: 0 auto;
    background: url("../img/border4.png") center top no-repeat;
    background-size: contain;
}
form {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 150px;
    margin-top: 10px;
}
form div {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.margin~div {
    padding-left: 120px;
}
.margin {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.name-text {
    width: 30%;
    padding: 4px;
    border-radius: 5px;
    margin-top: 10px;
}
.data {
    width: 30%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(118, 118, 118) inset;
}
.time, .tel {
    border-radius: 5px;
    padding: 4px;
}
.tel {
    width: 30%;
}
.time {
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(118, 118, 118) inset;
}
label {
    display: inline-block;
    width: 40%;
    margin-bottom: 0px;
}
input {
    font-size: 20px;
}
.whith {
    height: 20px;
    width: 20px;
}
.submit {
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(241, 230, 215); 
    border-radius: 10px; 
    box-shadow: 0 0 10px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.submit:active {
    box-shadow: 0 0 10px black inset;
}
.submit:hover {
    background-color: rgb(243, 242, 240);
}
.cal {
    width: 50px;
    border-radius: 5px;
    padding: 4px;
    width: 30%;
}
footer {
    bottom: -100px;
}
@media all and (max-width:800px){
    .content {
        display: block;
        background: none;
        padding-right: 20px;
        padding-left: 20px;
    }
    form {
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        width: 100%;
    }
    label {
        width: 70%
    }
    .name-text, .tel, .data, .cal {
        width: 100%;
        box-sizing: border-box;
    }
    div.margin~div {
        padding-left: 0px;
    }
    .submit {
        font-size: 20px;
        margin-bottom: 20px;
    }
    footer {
        bottom: 0px;
    }
}